# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.env/
.venv/
env/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# PyTorch / Models
